.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #5f5b6b;
  font-size: 18px;
  min-height: 100vh;
}

.mainContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 25px;
  flex-grow: 1;
}

.footerNav {
  list-style-type: none;
  padding: 0;
  position: relative;

  ul {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
  }

  a {
    color: white;
    display: inline-block;
    margin: 0.4rem 1rem;
    padding: 0.4rem;
  }
}

.logo {
  flex: 1 1 50px;
  max-width: 200px;
  max-height: 200px;
}

.title {
  color: white;
  font-size: 40px;
  text-shadow: 1px 1px 10px black;
}

.button {
  padding: 15px;
  border-radius: 50px;

  background-color: green;
  color: white;
  font-size: 15px;
  font-weight: 600;
  cursor: pointer;
  box-shadow: 1px 1px 10px black;
}