@use '@/styles/variables.module.scss' as variables;

.bikeTheftMapPage {
  flex-grow: 1;
  display: flex;
  overflow: hidden;
  width: 100%;
  height: 100%;

  :global(.maplibregl-ctrl-top-left) {
    margin-left: 10px;
  }
}
@media (max-width: variables.$wrapper-full-width) {
  .bikeTheftMapPage {
    flex-direction: column-reverse;
  }
}
