@use '@/styles/theme.module.scss';

.dashboardLayout {
  position: relative;
  display: flex;
  flex-direction: column;
  font-family: 'Open Sans';
  height: 100vh;
  height: 100dvh;
  overflow: hidden;

  a {
    text-decoration: none;
    color: theme.$color-secondary-dark-grey;

    p &:visited {
      color: theme.$color-secondary-dark-grey;
    }

    &:hover {
      color: theme.$color-primary;
    }
  }

  button {
    font-family: 'Open Sans';
  }
}
