@use '@/styles/theme.module.scss';

.parkingMapPage {
  flex-grow: 1;
  display: flex;
  overflow: hidden;
}

@media (max-width: theme.$wrapper-full-width) {
  .parkingMapPage {
    flex-direction: column-reverse;
  }
}

.sideBarContainer {
  overflow-y: scroll;
  margin: 4px;

  & > * {
    margin-bottom: 8px;
  }

  & > p {
    padding: 4px;
  }
}

@media (min-width: theme.$wrapper-full-width) {
  // Add right padding for scrollbar spacing on certain Linux chrome browsers
  .sideBarContainer {
    padding-right: 6px;
  }
}

.ContentCard {
  width: 100%;
  border-radius: 4px;
  background-color: white;
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 4px;
}

.ContentHeading {
  width: 100%;
  border-radius: 4px;
  margin: 4px;
  background-color: white;
}

h2.cardHeading {
  font-weight: 600;
  font-size: 1.1rem;
  color: theme.$color-primary-d50p;
}

p.cardBody {
  margin: 4px;
  margin-top: 0px;
}

.legendContent {
  background-color: white;
  margin: 4px;
  margin-bottom: 8px;
  display: flex;
  flex-direction: column;
  gap: 4px;

  h3 {
    padding-top: 4px;
  }
}
