@import '@/styles/variables.module.scss';

.parkingMapPage {
  flex-grow: 1;
  display: flex;
  overflow: hidden;
}

@media (max-width: $wrapper-full-width) {
  .parkingMapPage {
    flex-direction: column-reverse;
  }
}

.sideBarContainer {
  overflow-y: scroll;
  margin: 4px;

  &> p {
    padding: 4px;
  }
}

.ContentHeading {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  width: 100%;
  border-radius: 4px;
  padding: 8px;
  margin-bottom: 8px;
  background-color: white;

  button {
    height: 2rem * 0.9;
    font-size: 0.9rem;
  }
}

h2.cardHeading {
  font-weight: 600;
  font-size: 1.1rem;
  color: $color-primary-d50p;
}

.legend {
  margin-bottom: 8px;
  background-color: white;
  border: 2px solid $color-primary-d50p;
  border-radius: 4px;

  summary {
    padding: 4px;
    background-color: $color-primary-d50p;
    color: white;
    border-bottom: none;
    font-weight: 600;
  }

  &[open] summary {
    margin-bottom: 4px;
    padding-bottom: calc(4px + 3px);
  }

  .legendContent{
    background-color: white;
    margin: 4px;
    margin-bottom: 8px;
    display: flex;
    flex-direction: column;
    gap: 4px;

    h3 {
      padding-top: 4px;
    }
  }
}