@import '@/styles/variables.module.scss';

details.sidebarDetailsDisclosure {
  padding: 4px;
  border-radius: 4px;
  background-color: white;

  summary {
    height: 2rem;
    line-height: calc(2rem - 4px); // center text vertically
    font-weight: 600;
    color: $color-primary-d50p;
    border-bottom: none;
    cursor: pointer;
  }

  &[open] summary {
    margin-bottom: 4px;
    padding-bottom: calc(4px + 3px);
    border-bottom: 2px solid $color-secondary-light-grey;
  }
}

div.sidebarDetailsContent {
  margin: 4px;
  margin-bottom: 8px;
}
