@import 'variables';
@import 'typography';

body {
  position: relative;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  margin: 0;
  padding: 0;
}

body * {
  box-sizing: border-box;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

fieldset {
  margin: 0;
  padding: 0;
  border: none;
}

button {
  border: none;
  background-color: transparent;

  &:hover {
    cursor: pointer;
  }
}