@import 'variables';

body {
  overflow: hidden;
}

body * {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

.primary-btn {
  background-color: $main-color-bg;
  color: white;
  border: none;
  height: 42px;
  border-radius: 21px;
  padding: 10px 25px;
  font-size: 1.2rem;
  cursor: pointer;

  &.hide {
    visibility: hidden;
  }

  &.display-none {
    display: none;
  }
}

fieldset {
  margin: 0;
  padding: 0;
  border: none;
}

input[type='checkbox'] {
  /* Add if not using autoprefixer */
  -webkit-appearance: none;
  appearance: none;
  /* For iOS < 15 to remove gradient background */
  background-color: #fff;
  /* Not removed via appearance */
  margin: 0;
  width: 0;
}

input[type='radio'] {
  /* Add if not using autoprefixer */
  -webkit-appearance: none;
  appearance: none;
  /* For iOS < 15 to remove gradient background */
  background-color: #fff;
  /* Not removed via appearance */
  margin: 0;
  width: 0;
}

.primary-btn-no-fill {
  background-color: white;
  color: $main-color;
  border: none;
  height: 42px;
  border-radius: 21px;
  padding: 10px 25px;
  font-size: 1.2rem;
  cursor: pointer;

  &.hide {
    visibility: hidden;
  }

  &.display-none {
    display: none;
  }
}

input[type='radio']:checked + label .base-button,
input[type='checkbox']:checked + label .base-button {
  background-color: $secondary-color;
  color: white;

  .check {
    opacity: 1;
  }
}

.base-button {
  position: relative;
  display: flex;
  align-items: center;
  background-color: white;
  color: $secondary-color;
  border: 2px solid $secondary-color;
  height: 44px;
  width: 100%;
  border-radius: 23px;
  padding-left: 10px;
  font-size: 1rem;
  cursor: pointer;
  transition: all 0.2s ease-in-out;

  .check {
    position: absolute;
    right: 14px;
    top: 50%;
    opacity: 0;
    transform: translateY(-50%);
  }

  &:focus,
  &:focus-within {
    box-shadow: 0 0 0px 4px $main-color;
  }

  &:focus:active {
    box-shadow: none;
  }
}

input[type='radio']:focus + label .base-button,
input[type='checkbox']:focus + label .base-button {
  box-shadow: 0 0 0px 4px $main-color;
}
