@import "variables";
@import "global";

#submission {
  position: relative;

  #submission-header {
    position: sticky;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    height: 50px;

    .header-logo img {
      width: 147px;
    }
  }

  main {
    position: relative;
    height: calc(100vh - 50px);
    padding: 20px;
    background-image: url(../images/bikespace-background-desktop.jpeg);
    background-size: cover;
    background-position: center;
  }

  #main-content {
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: white;
    height: calc(100dvh - 90px);
    padding: 17px;
    padding-bottom: 24px;

    #main-content-body {
      position: relative;
      overflow-y: scroll;
      flex-grow: 1;

      h2 {
        margin-bottom: 5px;
        font-size: 1.2rem;
        font-weight: bold;
        color: #39393a;
      }

      h3 {
        margin-bottom: 20px;
        font-size: 1rem;
        font-weight: normal;
        color: #39393a;
      }
    }

    footer {
      width: 100%;
      min-height: 44px;
      display: flex;
      justify-content: space-between;
    }
  }
}

#submission-progress-bar {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 18px;

  #middle-line {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: 100%;
    height: 2px;
    background-color: $gray-color;
  }

  .step {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: $gray-color;
    transition: background-color 0.3s ease-in-out;
    z-index: 10;

    &.active {
      background-color: $main-color;
    }
  }
}

#submission-issue {
  ul {
    padding: 0;

    li {
      list-style: none;
      margin-bottom: 20px;
    }
  }
}

#submission-location {
  display: flex;
  flex-direction: column;
  height: 100%;

  #outer-map-container {
    position: relative;
    flex-grow: 1;
    margin-bottom: 25px;
  }
}
