@import 'variables';
@import 'global';

#submission {
  position: relative;

  #submission-header {
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    height: 50px;
    padding: 0 1rem;

    .header-logo img {
      width: 147px;
    }

    a {
      text-decoration: none;
      font-weight: bold;
      color: #39393a;
      display: flex;
      align-items: center;

      :hover {
        color: $main-color;
      }

      :visited {
        color: #39393a;
      }
    }
  }

  main {
    position: relative;
    padding: 20px;
    background-image: url(../images/bikespace-background-desktop.jpeg);
    background-size: cover;
    background-position: center;
  }

  #main-content {
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: white;
    height: calc(100dvh - 90px);
    padding: 17px;
    padding-bottom: 24px;

    #main-content-body {
      position: relative;
      overflow-y: scroll;
      flex-grow: 1;

      h2 {
        margin-bottom: 10px;
        font-size: 1.2rem;
        font-weight: bold;
        color: #39393a;
      }

      h3 {
        margin-bottom: 20px;
        font-size: 1rem;
        font-weight: normal;
        color: #39393a;
      }

      .input-container {
        display: flex;

        label {
          width: 100%;
        }
      }
    }

    footer {
      width: 100%;
      min-height: 44px;
      display: flex;
      justify-content: space-between;
    }
  }
}

#submission-progress-bar {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 18px;

  #middle-line {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: 100%;
    height: 2px;
    background-color: $gray-color;
  }

  .step {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: $gray-color;
    transition: background-color 0.3s ease-in-out;
    z-index: 10;

    &.active {
      background-color: $main-color;
    }
  }
}

#submission-issue {
  fieldset {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin: 0;
    padding: 5px;
    border: none;
  }

  ul {
    padding: 5px;

    li {
      list-style: none;
      margin-bottom: 20px;
    }
  }
}

#submission-location {
  display: flex;
  flex-direction: column;
  height: 100%;

  #outer-map-container {
    position: relative;
    flex-grow: 1;
    margin-bottom: 25px;
  }
}

#submission-time {
  fieldset > .checkbox-group {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 14px 0;

    .base-button {
      margin: 0 7px;
      width: revert;
    }
  }

  input[type='datetime-local'] {
    width: 100%;
    border: none;
    border-radius: 21px;
    margin: 0px;
    margin-bottom: 10px;
    padding: 10px;
    border: 2px solid $gray-color;
    text-align: left;
    font-size: 1rem;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
      Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
      'Segoe UI Symbol';
  }
}

#submission-comments {
  textarea {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    padding: 10px;
    resize: none;
    width: 100%;
    font-size: 1rem;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
      Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
      'Segoe UI Symbol';
  }
}
