// Dashboard fonts
@font-face {
  font-family: 'Open Sans';
  src: url('../assets/fonts/OpenSans-VariableFont_wdth,wght.ttf');
  font-weight: 300 800;
}

@font-face {
  font-family: 'Open Sans Italic';
  src: url('../assets/fonts/OpenSans-Italic-VariableFont_wdth,wght.ttf');
  font-style: italic;
  font-weight: 300 800;
}

body {
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
}