@use '@/styles/theme.module.scss';

.issue {
  display: inline-block;
  border: 2px solid;
  border-radius: 4px;
  margin: 2px 0px;
  padding: 2px 4px;

  &.not_provided {
    border-color: theme.$color-secondary-blue;
    background-color: theme.$color-secondary-blue-light;
  }

  &.damaged {
    border-color: theme.$color-secondary-red;
    background-color: theme.$color-secondary-red-light;
  }

  &.abandoned {
    border-color: theme.$color-secondary-yellow-dark;
    background-color: theme.$color-secondary-yellow-light;
  }

  &.other {
    border-color: theme.$color-secondary-med-grey;
    background-color: theme.$color-secondary-light-grey;
  }

  &.full {
    border-color: theme.$color-secondary-orange;
    background-color: theme.$color-secondary-orange-light;
  }
}
