@use '@/styles/theme.module.scss';

.legendTable {
  th,
  td {
    padding: 2px;
  }
  th {
    text-align: left;
    background-color: theme.$color-secondary-light-grey;
    border: 2px solid white;
  }
  td {
    vertical-align: middle;
  }
}
