{
	servers {
		# Trust X-Forwarded-*
		trusted_proxies static private_ranges
	}
}

{$CADDY_SITE_ADDRESS::80} {
	encode zstd gzip
	log

	reverse_proxy bikespace_api:8000 {
		health_uri /api/v2/submissions?limit=1
		health_interval 30s
		health_timeout 10s
	}
}

# Internal listener for container healthcheck, independent of site address
:2020 {
	respond /healthz "OK" 200
}
