// Dashboard fonts
@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/OpenSans-VariableFont_wdth,wght.ttf');
  font-weight: 300 800;
}

@font-face {
  font-family: 'Open Sans Italic';
  src: url('../fonts/OpenSans-Italic-VariableFont_wdth,wght.ttf');
  font-style: italic;
  font-weight: 300 800;
}