name: bikespace_dev

services:
  bikespace_api:
    build:
      context: ..
      dockerfile: docker/local.dockerfile
    volumes:
      - type: bind
        source: ..
        target: /app
    depends_on:
      db:
        condition: service_healthy
        restart: true
    env_file:
      - path: "../.env"
        required: false
    environment:
      APP_SETTINGS: "bikespace_api.config.DevelopmentConfig"
      DATABASE_URL: "postgresql://postgres:devpwd@db/bikespace_dev"
      FLASK_DEBUG: "true"
      FLASK_RUN_PORT: 8000
      BIKESPACE_SECRET_KEY: ${BIKESPACE_SECRET_KEY}
      BIKESPACE_SECURITY_PASSWORD_SALT: ${BIKESPACE_SECURITY_PASSWORD_SALT}
      SEED_USER_EMAIL: ${SEED_USER_EMAIL}
      SEED_USER_PASSWORD: ${SEED_USER_PASSWORD}
    ports:
      - "8000:8000"
  db:
    image: postgres
    restart: always
    user: postgres
    environment:
      POSTGRES_PASSWORD: "devpwd"
      POSTGRES_DB: "bikespace_dev"
    ports:
      - "25432:5432"
    healthcheck:
      test: ["CMD-SHELL", "pg_isready"]
      interval: 1s
      timeout: 5s
      retries: 10
