@use '@/styles/theme.module.scss';

@mixin base-feature {
  width: 100%;
  padding: 4px;
  background-color: white;
  border-radius: 4px;
  text-align: left;
  font-size: 0.9rem;
  cursor: pointer;

  h3 {
    font-size: medium;
  }

  p {
    margin-top: 4px;
    a {
      text-decoration: underline;
      text-decoration-color: theme.$color-primary;
      color: theme.$color-primary-d50p;
      text-decoration-thickness: 2px;

      &:visited {
        color: rebeccapurple;
        text-decoration-color: theme.$color-primary-d50p;
      }

      &:hover {
        color: #25c252;
        text-decoration-thickness: 2px;
      }
    }
  }
}

.featureDescription {
  @include base-feature;
  padding: calc(4px + 3px);
}

.featureDescriptionSelected {
  @include base-feature;
  border: 3px solid theme.$color-secondary-red;
}

.featureDescriptionControls {
  display: flex;
  flex-direction: row;
  gap: 4px;
  width: 100%;
  margin-top: 8px;

  button {
    flex-basis: 100%;
    border: 2px solid theme.$color-primary-20p;
    height: 2rem * 0.9;
    font-size: 0.9rem;
  }
}

.featureDescriptionAllData {
  margin-top: 8px;
  font-size: 0.9rem;
  background-color: theme.$color-secondary-light-grey;
  border-radius: 4px;
  padding: 4px;

  dt {
    font-weight: bold;
    margin-top: 4px;
  }
}

.divider {
  border-bottom: 2px solid theme.$color-secondary-light-grey;

  &:last-of-type {
    display: none;
  }
}
