@import '@/styles/variables.module.scss';

@mixin base-feature {
  width: 100%;
  margin-bottom: 1rem;
  padding: 4px;
  background-color: white;
  border: 3px solid;
  border-radius: 4px;
  text-align: left;
  font-size: 0.9rem;
  cursor: pointer;

  h3 {
    font-size: medium;
  }

  p {
    margin-top: 4px;
    a {
      text-decoration: underline;
      text-decoration-color: $color-primary;
      color: $color-primary-d50p;
      text-decoration-thickness: 2px;
    
      &:visited {
        color: rebeccapurple;
        text-decoration-color: $color-primary-d50p;
      }
    
      &:hover {
        color: #25c252;
        text-decoration-thickness: 2px;
      }
    }
  }
}

.featureDescription {
  @include base-feature;
  border-color: white;
}

.featureDescriptionSelected {
  @include base-feature;
  border-color: #ed125b;
}

.featureDescriptionControls {
  display: flex;
  flex-direction: row;
  gap: 4px;
  width: 100%;
  margin-top: 8px;

  button {
    flex-basis: 100%;
    border: 2px solid $color-primary-20p;
    height: 2rem * 0.9;
    font-size: 0.9rem;
  }
}

.featureDescriptionAllData {
  margin-top: 8px;
  font-size: 0.9rem;
  background-color: $color-secondary-light-grey;
  border-radius: 4px;
  padding: 4px;

  dt {
    font-weight: bold;
    margin-top: 4px;
  }
}