@use '@/styles/theme.module.scss';

.tabs {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 4px;
  flex-shrink: 0;
  height: 70px;
  width: 100%;
  padding: 4px;
  color: black;

  @media (min-width: theme.$wrapper-full-width) {
    width: 85px;
    height: 100%;
    border-right: 1px solid theme.$color-primary-d50p;
    flex-direction: column;
    justify-content: flex-start;
    padding: 4px 0 0;
  }
}

.tab {
  position: relative;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  border-radius: 6px;

  color: theme.$color-primary-d70p;
  stroke: theme.$color-primary-d70p;

  @media (min-width: theme.$wrapper-full-width) {
    height: 60px;
    padding-left: 12px;
    border-radius: 0;

    &.active {
      background-color: theme.$color-primary-50p;

      @media (min-width: theme.$wrapper-full-width) {
        &:after {
          content: '';
          display: block;
          height: 100%;
          width: 12px;
          background-color: theme.$color-primary-d50p;
          position: absolute;
          top: 0;
          left: 0;
        }
      }
    }
  }
  @media (hover: hover) {
    &:hover,
    &:focus {
      color: theme.$color-primary-d50p;
      stroke: theme.$color-primary-d50p;
    }
  }

  span {
    font-size: 16px;
    font-weight: 600;
  }
}
