@import '@/styles/variables.module.scss';

.tabs {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 4px;
  width: 85px;
  padding: 0;
  padding-top: 4px;
  margin: 0;
  color: black;
  border-right: 1px solid $color-primary-d50p;

  .tab {
    position: relative;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 60px;
    padding-left: 12px;

    color: black;
    stroke: black;

    &:hover,
    &:focus {
      color: white;
      stroke: white;
      background-color: $color-primary-50p;
    }

    &.active {
      background-color: $color-primary-50p;

      &:after {
        content: '';
        display: block;
        height: 100%;
        width: 12px;
        background-color: $color-primary-d50p;
        position: absolute;
        top: 0;
        left: 0;
      }
    }

    span {
      font-size: 16px;
      font-weight: 600;
    }
  }
}
