.summary {
  p {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
}

.viewButton {
  margin-top: 16px;
  background-color: #4caf50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 1rem;
  font-family: inherit;

  &:hover {
    background-color: #43a047;
  }
}
