[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]

[packages]
Flask = "*"
Flask-SQLAlchemy = "*"
gunicorn = "*"
coverage = "*"
"flake8" = "*"
Flask-Migrate = "*"
Flask-Bcrypt = "*"
Flask-DebugToolbar = "*"
"psycopg2-binary" = "*"
pytest = "*"
flask-testing = "*"

[requires]
python_version = "3.7"
