[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]

[packages]

flask = "*"
flask-sqlalchemy = "*"
flask-testing = "*"
gunicorn = "*"
coverage = "*"
"flake8" = "*"
flask-migrate = "*"
flask-bcrypt = "*"
flask-debugtoolbar = "*"
"psycopg2-binary" = "*"

[requires]

python_version = "3.6"
