@media only screen and (min-width: 768px) {
  #panels {
    position: absolute;
    z-index: 100;
    left: 0;
    top: 54px;
    bottom: 0;
  }

  #panels-header {
    position: sticky;
    top: 0px;
  }
}
