@import '../stylevars.css';

:root {
  --height-panel-handle: 16px;
  --height-panel-handle-bar: 6px;
}

@media (max-width: 767px) {
  #panels {
    >button.drawer-handle {
      all: unset;
      cursor: pointer;
      display: block;
      height: var(--height-panel-handle);
      width: 100%;
      margin: 0;
      padding: calc((var(--height-panel-handle) - var(--height-panel-handle-bar)) / 2) 0;

      &::before {
        display: block;
        content: '';
        height: var(--height-panel-handle-bar);
        width: 100px;
        margin: auto;
        border-radius: calc(var(--height-panel-handle-bar) / 2);
        background-color: var(--color-primary);
      }

    }

    &.closed {
      &>.drawer-handle::before {
        background-color: var(--color-secondary-med-light-grey);
      }
    }
  }


}