@import '../stylevars.css';

#panels {
  background-color: var(--color-primary-20p);
  box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.5);
  overflow: hidden;
  height: 100%;
  display: flex;
  flex-direction: column;

  #panels-header {
    margin: var(--spacing-unit);
    padding: var(--spacing-unit) 0;
    background-color: var(--color-primary-20p);
  }

  >#panels-sections {
    flex-grow: 1;
    overflow: hidden;

    &>* {
      overflow-y: scroll;
      overflow-x: hidden;
      height: 100%;
    }

    #panels-section-feed {
      overflow-y: hidden;

      >#submissions {
        height: 100%;
        overflow-y: hidden;

        >.submission-list {
          height: 100%;
          overflow-y: scroll;
        }
      }
    }
  }

  button.clear-filter {
    width: 100%;
    margin-top: var(--spacing-unit);

    &[hidden] {
      display: none;
    }

    img {
      height: 1rem;
      width: 1rem;
      margin-right: var(--spacing-unit);
    }
  }

  #panels-nav {
    font-weight: var(--bold-weight);

    fieldset {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      gap: var(--spacing-unit);
      padding: 0;
      margin: 0;
      border: var(--border-unit) solid var(--color-primary-d50p);
      border-radius: calc(var(--spacing-unit) * 1.5);
      background-color: white;
    }

    input[type='radio'] {
      /* hide and limit interaction to labels only */
      position: fixed;
      opacity: 0;
      pointer-events: none;
    }

    input[type='radio']:checked+label {
      background-color: var(--color-primary-d50p);
      border: var(--border-unit) solid var(--color-primary-d50p);
      color: white;

      &:hover {
        border: var(--border-unit) solid var(--color-primary);
      }
    }

    input[type='radio']:focus+label {
      border: var(--border-unit) solid var(--color-primary);
    }

    label {
      padding: var(--spacing-unit) var(--spacing-unit-double);
      border: var(--border-unit) solid white;
      border-radius: var(--spacing-unit);
      flex: auto;
      text-align: center;

      &:hover {
        background-color: var(--color-primary-10p);
        border: var(--border-unit) solid var(--color-primary);
      }
    }
  }
}

/* DATA TAB */

#summary-box,
#summary-box-filters {
  margin: var(--spacing-unit);
  padding: var(--spacing-unit);
  padding-left: var(--spacing-unit-double);
  padding-right: var(--spacing-unit-double);
  border-radius: var(--spacing-unit);
  background-color: var(--color-primary-d50p);
  color: white;

  #entry-count {
    font-size: 2rem;
    font-weight: var(--bold-weight);
    margin-right: 0.1rem;

    img {
      vertical-align: bottom;
      padding-bottom: 0.4rem;
      height: 1.8rem;
    }
  }

  .summary-desc {
    font-size: 0.9rem;
  }

  img {
    display: inline-block;
  }
}

.sidebar-panel {
  margin: var(--spacing-unit);
  padding: var(--spacing-unit);
  border-radius: var(--spacing-unit);
  background-color: white;
}

#issue-chart {
  .ytick {
    pointer-events: all;

    &:hover {
      cursor: pointer;
    }
  }
}

#duration-tod-chart {
  .cursor-pointer {
    cursor: default;
    /* show as non-interactive */
  }
}

/* FILTERS TAB */

#panels-section-filters {
  summary {
    font-weight: var(--bold-weight);
    color: var(--color-primary-d50p);
  }

  .filter-section {
    margin-bottom: var(--spacing-unit-double);
  }

  .filter-section-item {
    margin-bottom: var(--spacing-unit);
  }
}

#date-filter {
  .date-input {
    display: grid;
    grid-template-columns: 30% 70%;
  }
}

#parking-duration-filter {
  .parking-duration-types {
    display: grid;
    grid-template-columns: 50% 50%;
    column-gap: var(--spacing-unit);
  }
}

/* FEED TAB */

.no-data {
  text-align: center;
  width: 100%;
  display: block;
  color: rgb(128, 128, 128);
}

/* #submissions.view_all {
  height: 100%;
  display: flex;
  flex-direction: column;
  position: absolute; 
  inset: 0;
  z-index: 10;
  overflow-y: hidden;
} */

.title-section {
  display: flex;
  gap: var(--spacing-unit-double);
  margin: var(--spacing-unit);
  padding: var(--spacing-unit-double) var(--spacing-unit);

  >h2 {
    flex-grow: 1;
    font-weight: var(--bold-weight);
    font-size: 1.1rem;
    color: var(--color-primary-d50p);
  }

  >a {
    font-size: smaller;
  }
}

.submission-item {
  display: block;
  margin: var(--spacing-unit);
  padding: var(--spacing-unit);
  padding-bottom: var(--spacing-unit-double);
  border-bottom: var(--border-unit) solid var(--color-secondary-light-grey);

  &.focused {
    background: var(--color-secondary-light-grey);
  }

  >h3 {
    font-size: medium;
    font-weight: bold;
  }

  >p {
    margin-bottom: var(--spacing-unit);
    font-size: 0.9rem;
  }

  >.problems {
    >.issue {
      display: inline-block;
      font-size: smaller;
    }
  }

  & .submission-id {
    font-style: italic;
    text-align: right;
  }

  &:hover {
    color: var(--color-secondary-dark-grey);
  }

  &:hover h3 {
    color: var(--color-primary);
  }
}