@use 'sass:color';
@use 'sass:string';
@use '@/styles/theme.module.scss';

$colors: (
  'colorScale0': color.change(theme.$color-primary, $alpha: 0.1),
  'colorScale1': color.change(theme.$color-secondary-orange, $alpha: 0.7),
  'colorScale2': color.change(theme.$color-secondary-red, $alpha: 1),
  'cellColor': theme.$color-secondary-light-grey,
);

// Export variables for plotly.js consumption
:export {
  @each $color, $value in $colors {
    #{string.unquote($color)}: $value;
  }
}
