@use '@/styles/theme.module.scss';

.primaryBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2rem;
  background-color: white;
  border: 2px solid theme.$color-primary-d50p;
  border-radius: 4px;
  padding: 0px 8px;
  font-family: theme.$body-font-stack;
  font-size: 0.9rem;
  color: theme.$color-secondary-dark-grey;

  &:hover {
    background-color: theme.$color-primary-10p;
    border-color: theme.$color-primary;
  }

  &:focus {
    box-shadow: 0 0 0 0.2rem theme.$color-primary-20p;
  }

  &:active {
    background-color: theme.$color-primary-d50p;
    border-color: theme.$color-primary;
    color: theme.$color-primary;
  }

  &:disabled {
    pointer-events: none;
    color: theme.$color-secondary-dark-grey;
    background-color: theme.$color-secondary-light-grey;
    border-color: theme.$color-secondary-dark-grey;
  }

  &.filled {
    background: theme.$color-primary-d50p;
    color: white;
    cursor: pointer;
  }
}
