@use 'sass:string';
@use '@/styles/theme.module.scss';

$colors: (
  'barColor': theme.$color-primary,
);

// Export variables for plotly.js consumption
:export {
  @each $color, $value in $colors {
    #{string.unquote($color)}: $value;
  }
}
