@import '@/styles/variables';

.dateRangeCustom {
  display: flex;
  flex-direction: column;
  gap: 4px;

  .dateInput {
    display: grid;
    grid-template-columns: 30% 70%;

    input[type='date'] {
      height: 2rem;
      background-color: white;
      border: $border-unit solid $color-primary-d50p;
      border-radius: $spacing-unit;
      padding-left: $spacing-2;
      padding-right: $spacing-2;
      font-family: $body-font-stack;
      font-size: 0.9rem;
    }
  }

  button {
    align-self: flex-start;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2rem;
    background-color: white;
    border: $border-unit solid $color-primary-d50p;
    border-radius: $spacing-unit;
    padding-left: $spacing-2;
    padding-right: $spacing-2;
    font-family: $body-font-stack;
    font-size: 0.9rem;
    color: $color-secondary-dark-grey;
  }
}