@use '@/styles/theme.module.scss';

.Sidebar {
  width: 100%;
  height: 80px;
  background-color: theme.$color-primary-20p;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  overflow-y: hidden;

  &.Open {
    height: calc(theme.$feed-height);
  }

  @media (min-width: theme.$wrapper-full-width) {
    width: 430px;
    flex-direction: row;

    &.Open {
      height: 100%;
    }
  }
}
