@import '@/styles/variables.module.scss';

.sidebar {
  width: 100%;
  height: 60px;
  background-color: $color-primary-20p;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  overflow-y: hidden;

  @media (min-width: $wrapper-full-width) {
    width: 430px;
    height: 100%;
    flex-direction: row;
  }
}
