@import '@/styles/variables';

.filterSection {
  summary {
    border-bottom: 1px solid $color-secondary-light-grey;
    padding-bottom: $spacing-unit;
    margin-bottom: $spacing-unit;
    font-weight: $bold-weight;
    color: $color-primary-d50p;
  }

  .sectionContent{
    margin: $spacing-unit;
    margin-bottom: $spacing-2;
  }
}