@import '@/styles/variables.module.scss';

.header {
  padding: 12px;
  box-shadow: 8px 0px 8px rgba(0, 0, 0, 0.5);
  height: 54px;
  background-color: white;

  .navToggle {
    display: none;
  }

  .mainNav {
    display: flex;
    flex-direction: row;
    /* horizontal align right */
    align-items: center;
    width: 100%;

    .bikespaceLogo {
      flex-grow: 1;

      img {
        height: 30px;
      }
    }

    ul,
    a {
      display: flex;
      align-items: center;
    }

    ul {
      gap: 1rem;
      margin: 0;
      padding: 0;
      color: $color-secondary-dark-grey;
      font-weight: 600;
    }

    li {
      a {
        img {
          height: 1.4rem;
          width: auto;
          margin-right: 0.3rem;
        }
      }
    }
  }
}

@media (max-width: $wrapper-full-width) {
  $nav-width: 250px;

  .header {
    z-index: 500;
    position: fixed;
    background-color: white;

    .navToggle {
      height: 40px;
      display: block;
      padding: 8px;

      img {
        max-width: 100%;
        max-height: 100%;
        object-fit: contain;
      }
    }

    .mainNav {
      display: flex;
      flex-direction: column;

      ul {
        display: flex;
        flex-direction: column;
      }

      .bikespaceLogo {
        margin: 16px 0px;
        justify-self: center;
      }
    }
  }

  .headerClosed {
    top: 10px;
    right: 10px;
    height: 40px;
    width: 40px;
    box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    padding: 0;

    .mainNav {
      visibility: hidden;
    }
  }

  .headerOpen {
    top: 0;
    bottom: 0;
    right: 0;
    height: 100%;
    width: $nav-width;
    padding: 10px;
    display: flex;
    flex-direction: column;

    .navToggle {
      align-self: flex-end;
      border: 2px solid rgba(0, 0, 0, 0.1);
      border-radius: 4px;
    }

    .mainNav {
      visibility: visible;
    }
  }
}
