.submissionPage {
  position: relative;

  main {
    position: relative;
    padding: 20px;
    background-image: url('@/assets/images/bikespace-background-desktop.jpeg');
    background-size: cover;
    background-position: center;
  }
}