@import '@/styles/variables.module.scss';

.profilePage {
  height: 100vh;
  background-color: $color-primary-20p;

  main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    padding: 2rem 1rem;
  }
}
