h1 {
    font-size: 30px;
}

p {
    font-size: 20px;
    border: 10px solid blue;
    padding: 10px;
    background-color: red;
}

header {
    padding: 12px;
}

header>img {
    width: 200px;
}

body {
    margin: 0;
}
