@import "stylevars.css";

* {
    font-family: "Open Sans", Arial, Helvetica, sans-serif;
}

h1 {
    font-size: 30px;
}

header {
    padding: 12px;
}

header>img {
    width: 200px;
}

body {
    margin: 0;
}
