@import "stylevars.css";

#sidebar { 
  position: absolute; z-index: 100; 
  left: 0; 
  top: 54px; 
  bottom: 0; 
  width: 320px; 
  background-color: var(--color-primary-20p); 
  box-shadow: 0px 8px 8px rgba(0,0,0,0.5); 
}

#summary-box {
  margin: 4px;
  padding: 4px;
  padding-left: calc(4px * 2);
  border-radius: 4px; 
  background-color: var(--color-primary-d50p);
  color: white;

  & #entry-count {
    font-size: 2rem;
    font-weight: 600;
  }

  & .summary-desc {
    font-size: 0.9rem;
  }
}



#issue-chart {
  margin: 4px;
  padding: 4px;
  border-radius: 4px; 
  background-color: white;

  & .ytick {
    pointer-events: all;
  }
}