@use '@/styles/theme.module.scss';
@import '~leaflet.locatecontrol/dist/L.Control.Locate.css';

.leaflet-bottom {
  z-index: 499;
}

.marker-cluster {
  &.marker-cluster-small {
    background-color: theme.$color-primary-50p;

    div {
      background-color: theme.$color-primary-70p;
      color: black;
    }
  }

  &.marker-cluster-medium {
    background-color: theme.$color-primary;

    div {
      background-color: theme.$color-primary-d20p;
      color: white;
    }
  }

  &.marker-cluster-large {
    background-color: theme.$color-primary-d20p;

    div {
      background-color: theme.$color-primary-d50p;
      color: white;
    }
  }
}
