@use '@/styles/theme.module.scss';

.dashboardPage {
  flex-grow: 1;
  display: flex;
  overflow: hidden;
}

@media (max-width: theme.$wrapper-full-width) {
  .dashboardPage {
    flex-direction: column-reverse;
  }
}
