@import '@styles/variables';

.dashboardPage {
  position: relative;
  display: flex;
  flex-direction: column;
  font-family: 'Open Sans';
  height: 100vh;

  a {
    text-decoration: none;
    color: $color-secondary-dark-grey;
  
    &:visited {
      color: $color-secondary-dark-grey;
    }
  
    &:hover {
      color: $color-primary;
    }
  }

  .main {
    flex-grow: 1;
  }
}