@import '@/styles/variables.module.scss';

$even-lighter-grey: #EEE;

.pageHeader, .pageMain, .pageFooter {
  font-family: "Open Sans";
}

.pageMain {
  margin: 0 auto;
  padding: 5%;
  max-width: $wrapper-max-width;
  justify-content: center;

  // prevent long bare urls from breaking page scale
  a {
    word-break: break-word;
  }

  line-height: 1.4;

  div, iframe, h1, h2, h3, h4, h5, h6, p, ul, ol, blockquote, img, table, pre, figure {
    margin-bottom: 1rem;
  }

  h1 {
    font-size: 2rem;
  }

  h2 {
    font-size: 1.5rem;
  }

  h3 {
    font-size: 1.17em;
  }

  blockquote {
    padding-left: 1rem;
    border-left: 4px solid $even-lighter-grey;
    color: $color-secondary-med-grey;
  }

  ul li {
    margin-inline-start: 1.5rem;
    list-style-type: disc; 
    ul li {
      list-style-type: circle; 
      ul li {
        list-style-type: square; 
      }
    }
  }

  ol li {
    margin-inline-start: 1rem;
    text-indent: 0.5rem;
    list-style-type: decimal;
  }

  code {
    font-family: Consolas, monaco, monospace;
    font-size: 0.9rem;
    background-color: $even-lighter-grey;
    border-radius: 4px;
    padding: 2px 4px;
  }

  pre:has(> code) {
    display: block;
    background-color: $even-lighter-grey;
    border-radius: 4px;
    padding: 4px;
    border: 1px solid $color-secondary-med-light-grey;
  }

  a {
    text-decoration: underline;
    text-decoration-color: $color-primary;
    color: $color-primary-d50p;
    text-decoration-thickness: 2px;
  
    &:visited {
      color: rebeccapurple;
      text-decoration-color: var(--color-primary-d50p);
    }
  
    &:hover {
      color: #25c252;
      text-decoration-thickness: 2px;
    }
  }

  img {
    width: 100%;
    max-width: $wrapper-max-width;
  }
}

