@use '@/styles/theme.module.scss';

.formController {
  display: flex;
  justify-content: space-between;
}

.primaryBtn {
  background-color: theme.$main-color-bg;
  color: white;
  border: none;
  height: 42px;
  border-radius: 21px;
  padding: 10px 25px;
  font-size: 1.2rem;
  cursor: pointer;

  &.hide {
    visibility: hidden;
  }

  &.displayNone {
    display: none;
  }

  &:disabled {
    pointer-events: none;
    color: theme.$color-secondary-dark-grey;
    background-color: theme.$color-secondary-light-grey;
  }
}

.primaryBtnNoFill {
  background-color: white;
  color: theme.$main-color;
  border: none;
  height: 42px;
  border-radius: 21px;
  padding: 10px 25px;
  font-size: 1.2rem;
  cursor: pointer;

  &.hide {
    visibility: hidden;
  }
}
