@use '@/styles/variables.module.scss' as variables;

// escape max width if needed
.fullWidth {
  @media (min-width: variables.$wrapper-max-width) {
    margin-left: calc(-100vw / 2 + variables.$wrapper-max-width / 2);
    margin-right: calc(-100vw / 2 + variables.$wrapper-max-width / 2);
    display: flex;
    justify-content: center;
  }
}

.heroBlock {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
  flex: 2 1 calc(400px - 1rem);

  .heroTagline {
    font-size: 2rem;
    font-weight: bold;
    text-wrap: wrap;
    gap: 1rem;
  }

  .heroImage {
    width: 100%;
    max-width: calc(400px - 1rem);
  }
}

.heroButtonContainer {
  display: inline-flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;
  gap: 1rem;
}

a.buttonLink {
  display: flex;
  align-items: center;
  justify-content: center;

  height: 2rem;
  padding: 1.5rem;

  border: 2px solid black;
  border-radius: 4px;
  text-decoration: none;

  &:visited {
    color: black;
  }
  &:hover {
    border-color: variables.$color-primary;
  }
  gap: 1rem;
}

a.buttonFilled {
  display: flex;
  align-items: center;
  justify-content: center;

  height: 2rem;
  padding: 1.5rem;

  border-color: variables.$color-primary-d50p;
  background-color: variables.$color-primary-d50p;
  color: white;
  &:visited {
    color: white;
  }
  padding: 1.5rem;
  gap: 1rem;
}

a.navLink {
  color: black;
  padding-left: 1rem;
  &:visited {
    color: black;
  }
  &:hover {
    color: variables.$color-primary;
  }
}

.featureBoxWrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
}

.featureBox {
  $fbPadding: 1rem;
  $shadowSize: 4px;

  display: grid;
  grid-template-rows: auto auto 1fr;

  border: 1px solid variables.$color-primary-d50p;
  border-radius: 1rem;
  max-width: calc((variables.$wrapper-full-width - 5 * 1rem) / 4);
  box-shadow: $shadowSize $shadowSize $shadowSize variables.$color-secondary-light-grey;

  &:hover {
    box-shadow: $shadowSize $shadowSize $shadowSize variables.$color-primary-20p;
  }

  .featureBoxImage {
    display: block;
    margin-bottom: 0;
    padding: $fbPadding;
    img {
      margin-bottom: 0;
      max-width: calc(240px - 2 * $fbPadding);
      height: calc(240px - 2 * $fbPadding);
      object-fit: contain;
    }
  }

  .featureBoxTitle {
    display: block;
    text-decoration: none;
    padding: calc($fbPadding / 2) $fbPadding;
    text-align: center;
    background-color: variables.$color-primary-d50p;
    :hover {
      text-decoration: underline;
      text-decoration-color: white;
      text-decoration-thickness: 2px;
    }
    h3 {
      margin-bottom: 0;
      color: white;
    }
  }

  .featureBoxDescription {
    display: block;
    margin-bottom: 0;
    padding: $fbPadding;
    background-color: variables.$color-primary-10p;
    border-radius: 0 0 1rem 1rem;
    text-align: center;
    p {
      margin-bottom: 0;
    }
  }
}

.buttondownContainer {
  display: flex;
  justify-content: center;

  .buttondownEmbeddableForm {
    text-align: center;
    background-color: variables.$color-primary-10p;
    padding: 1rem;
    border-radius: 8px;
    max-width: 500px;
  }

  .buttondownInputs {
    display: inline-block;
    border: 2px solid variables.$color-primary-d50p;
    border-radius: 4px;
    background-color: variables.$color-primary-d50p;

    input {
      height: 2.5rem;
      margin: 0;
      box-shadow: none;
      border: 1px solid variables.$color-primary-d50p;
      border-radius: 0;
    }

    .buttondownInputEmail {
      border-right: 0;
      padding: 0 0.5rem;
    }

    .buttondownInputSubmit {
      background-color: variables.$color-primary-d50p;
      color: white;
      padding: 0 0.5rem;
      border-left: 0;
      font-size: 0.9rem;
      font-weight: 700;

      &:hover {
        background-color: variables.$color-primary;
      }
    }
  }

  .buttondownReferLink {
    font-size: 0.9rem;
  }
}

.iconHeading {
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  align-items: center;
  gap: 1rem;
  margin-top: 2rem;
}

div.iconHeadingChildren {
  margin-bottom: 0;
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin-bottom: 0;
  }
}
