.issue {
  display: inline-block;
  border: 2px solid;
  border-radius: 4px;
  margin: 2px 0px;
  padding: 2px 4px;

  &.issue-not-provided {
    border-color: var(--color-secondary-red);
    background-color: var(--color-secondary-red-light);
  }

  & .issue {
    display: inline-block;
    border: 2px solid;
    border-radius: 4px;
    margin: 2px 0px;
    padding: 2px 4px;
  }

  &.issue-damaged {
    border-color: var(--color-secondary-orange);
    background-color: var(--color-secondary-orange-light);
  }

  &.issue-abandoned {
    border-color: var(--color-secondary-yellow);
    background-color: var(--color-secondary-yellow-light);
  }

  &.issue-other {
    border-color: var(--color-secondary-med-grey);
    background-color: var(--color-secondary-light-grey);
  }
}
