@import 'stylevars.css';

h1 {
  font-size: 30px;
}

header {
  padding: 12px;
  box-shadow: 8px 0px 8px rgba(0, 0, 0, 0.5);
}

header > img {
  width: 200px;
}

body {
  margin: 0;
  font-family: var(--body-font-stack);
}
