@import 'stylevars.css';
@import "../modern-normalize.css";

/* resets - from https://mattbrictson.com/blog/css-normalize-and-reset */

:root {
  line-height: 1.5;
}

h1, h2, h3, h4, h5, figure, p, ol, ul {
  margin: 0;
}

ol, ul {
  list-style: none;
  padding-inline: 0;
}

h1, h2, h3, h4, h5 {
  font-size: inherit;
  font-weight: inherit;
}

img {
  display: block;
  max-inline-size: 100%;
}


/* template styling */

h1 {
  font-size: 30px;
}

strong {
  font-weight: var(--bold-weight);
}

button {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2rem;
  background-color: white;
  border: var(--border-unit) solid var(--color-primary-d50p);
  border-radius: var(--spacing-unit);
  padding-left: var(--spacing-unit-double);
  padding-right: var(--spacing-unit-double);
  font-family: var(--body-font-stack);
  font-size: 0.9rem;

  &:hover {
    background-color: var(--color-primary-10p);
    border-color: var(--color-primary);
    cursor: pointer;
  }

  &:focus {
    box-shadow: 0 0 0 0.2rem var(--color-primary-20p);
  }

  &:active {
    background-color: var(--color-primary-d50p);
    border-color: var(--color-primary);
    color: var(--color-primary);
  }
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  display: block;
  width: 100%;
  height: 2rem;
  padding-right: calc(var(--spacing-unit-double) + 1.5rem);
  padding-left: var(--spacing-unit-double);
  --bs-form-select-bg-img: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23343a40' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='m2 5 6 6 6-6'/%3e%3c/svg%3e");
  background-image: var(--bs-form-select-bg-img);
  background-repeat: no-repeat;
  background-position: right .75rem center;
  background-size: 16px 12px;
  background-color: white;
  border: var(--border-unit) solid var(--color-primary-d50p);
  border-radius: var(--spacing-unit);
  font-family: var(--body-font-stack);
  font-size: 0.9rem;
}

input[type="date"] {
  height: 2rem;
  background-color: white;
  border: var(--border-unit) solid var(--color-primary-d50p);
  border-radius: var(--spacing-unit);
  padding-left: var(--spacing-unit-double);
  padding-right: var(--spacing-unit-double);
  font-family: var(--body-font-stack);
  font-size: 0.9rem;
}

details[open] {
  & summary {
    border-bottom: 1px solid var(--color-secondary-light-grey);
    padding-bottom: var(--spacing-unit);
    margin-bottom: var(--spacing-unit);
  }
  & .details-container {
    margin: var(--spacing-unit);
  }
}