@import '@/styles/variables';

.header {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  height: 50px;
  padding: 0 1rem;

  .headerLogo {
    max-width: 147px;
  }

  a {
    text-decoration: none;
    font-weight: bold;
    color: #39393a;
    display: flex;
    align-items: center;

    :hover {
      color: $main-color;
    }

    :visited {
      color: #39393a;
    }
  }
}