@import '@/styles/variables.module.scss';

/* Sidebar action bar height on mobile */
$actions-height: 70px;

.SidebarContent {
  position: fixed;
  bottom: 70px;
  left: 0;
  height: calc(100vh - $actions-height);
  height: calc(100dvh - $actions-height); // fix for safari
  width: 100vw;
  overflow-x: hidden;
  overflow-y: auto;
  background: $color-primary-50p;
  z-index: 9999;

  &.Feed {
    height: calc($feed-height - $actions-height);
  }

  @media (min-width: $wrapper-full-width) {
    position: relative;
    top: auto;
    left: auto;
    bottom: auto;
    width: auto;
    height: 100%;
    background: none;
    flex-grow: 1;

    &.Feed {
      height: 100%;
    }
  }
}

.actions {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100vw;
  height: $actions-height;
  background: $color-primary-50p;
  padding: 6px;
  padding-top: 7px;
  @media (min-width: $wrapper-full-width) {
    display: none;
  }
}

.action {
  background: $color-primary-d50p;
  border-radius: 6px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 16px;
  font-weight: 600;
  padding: 8px;
}

.SidebarContentInner {
  padding: 6px;
  display: flex;
  flex-direction: column;
  gap: 6px;
}
