.page {
  color: #232129;
  padding: 96px;
  font-family: -apple-system, Roboto, sans-serif, serif;
}

.heading {
  margin-top: 0;
  margin-bottom: 64px;
  max-width: 320px;
}

.paragraph {
  margin-bottom: 48px;
}

.code {
  color: #8a6534;
  padding: 4px;
  background-color: #fff4db;
  font-size: 1.25rem;
  border-radius: 4px;
}
