@use '@/styles/theme.module.scss';

$header-height: 54px;

.header {
  position: sticky;
  top: 0px;
  z-index: 10;

  padding: 12px;
  height: $header-height;
  box-shadow: 8px 0px 8px rgba(0, 0, 0, 0.5);
  background-color: white;

  .headerContent {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    max-width: theme.$wrapper-full-width;
    max-height: 100%;
    margin: 0 auto;
  }

  .bikespaceLogo {
    flex-grow: 1;

    img {
      height: 30px;
    }
  }
}

.mainNav {
  display: flex;
  flex-direction: row;
  /* horizontal align right */
  align-items: center;

  ul,
  a {
    display: flex;
    align-items: center;
  }

  a {
    color: black;
    :visited {
      color: black;
    }
  }

  ul {
    gap: 1rem;
    margin: 0;
    padding: 0;
    color: theme.$color-secondary-dark-grey;
    font-weight: 600;
  }

  li {
    a {
      img {
        height: 1.4rem;
        width: auto;
        margin-right: 0.3rem;
      }
    }
  }
}

.navToggle,
.navBackdrop {
  display: none;
}

@media (max-width: theme.$wrapper-full-width) {
  $nav-width: 250px;

  .navToggle {
    z-index: 20;
    max-height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    filter: contrast(30%);

    img {
      max-width: 100%;
      max-height: 100%;
      object-fit: contain;
    }
  }

  .mainNav {
    visibility: hidden;
    display: block;
    position: fixed;
    background-color: white;
    padding: 8px;
    height: 100%;
    z-index: 202;
    width: $nav-width;
    top: $header-height;
    bottom: 0;
    right: calc(0px - $nav-width);
    transition:
      visibility 0.2s,
      right 0.2s linear;

    ul {
      display: flex;
      flex-direction: column;
    }

    &.open {
      visibility: visible;
      right: 0;
    }

    .navBackdrop {
      z-index: 200;
      position: fixed;
      display: none;
      inset: 0;

      &.open {
        display: block;
      }
    }
  }
}
