@import '@/styles/variables.scss';

.pageFooter {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: baseline;
  gap: 1rem;
  padding: 1rem 1rem 1.62rem 1rem;
  margin-top: 1rem;
  color: white;
  background-color: $color-primary-d50p;

  .footerLink {
    color: white;
    text-decoration: underline;
    text-decoration-thickness: 2px;

    :visited {
      color: white;
    }
  }
}
