@use '@/styles/theme.module.scss';

.pageFooter {
  padding: 2rem;
  margin-top: 1rem;
  color: white;
  background-color: theme.$color-primary-d50p;

  .footerContent {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: baseline;
    gap: 1rem;
    max-width: theme.$wrapper-max-width;
    margin: 0 auto;
  }

  .footerLink {
    color: white;
    text-decoration: underline;
    text-decoration-thickness: 2px;

    :visited {
      color: white;
    }
  }
}
