@import '../stylevars.css';


@media (min-width: 1024px) {
  :root {
    --sidebar-width: calc(320px + var(--spacing-scrollbar-offset));
    --header-height: 54px;
  }

  body {
    position: relative;

    header {
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      height: var(--header-height);

      >#nav-toggle {
        display: none;
      }

    }


    #issue-map {
      position: absolute;
      top: var(--header-height);
      bottom: 0;
      /* 20px offset for sidebar scrollbar */
      left: var(--sidebar-width);
      right: 0;
      z-index: 1;
    }

    #panels {
      position: absolute;
      z-index: 100;
      left: 0;
      top: var(--header-height);
      bottom: 0;
      width: var(--sidebar-width);
    }
  }

}