@use '@/styles/theme.module.scss';

.popup {
  font-family: theme.$body-font-stack;
}

.submissionId {
  font-style: italic;
}

.sidebarButton {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2rem;
  background-color: white;
  border: 2px solid theme.$color-primary-d50p;
  border-radius: 4px;
  padding: 0px 8px;
  font-size: 0.9rem;
  color: theme.$color-secondary-dark-grey;

  &:hover {
    background-color: theme.$color-primary-10p;
    border-color: theme.$color-primary;
    cursor: pointer;
  }

  &:focus {
    box-shadow: 0 0 0 0.2rem theme.$color-primary-20p;
  }

  &:active {
    background-color: theme.$color-primary-d50p;
    border-color: theme.$color-primary;
    color: theme.$color-primary;
  }
}

.issues {
  display: flex;
  gap: 4px;
  flex-wrap: wrap;
}

.popupFooter {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media (max-width: theme.$wrapper-full-width) {
  .popup {
    display: none;
  }
}
