@use 'sass:string';
@use '@/styles/theme.module.scss';

$colors: (
  'not_provided': theme.$color-secondary-blue,
  'not_provided_light': theme.$color-secondary-blue-light,
  'damaged': theme.$color-secondary-red,
  'damaged_light': theme.$color-secondary-red-light,
  'abandoned': theme.$color-secondary-yellow-dark,
  'abandoned_light': theme.$color-secondary-yellow-light,
  'other': theme.$color-secondary-med-grey,
  'other_light': theme.$color-secondary-light-grey,
  'full': theme.$color-secondary-orange,
  'full_light': theme.$color-secondary-orange-light,
);

// Export variables for plotly.js consumption
:export {
  @each $color, $value in $colors {
    #{string.unquote($color)}: $value;
  }
}
