@use '@/styles/theme.module.scss';

.categoryButtons {
  width: 100%;
  display: flex;
  gap: 4px;
  margin: 4px 0;

  button {
    flex-grow: 1;
  }
}

.durationCheckboxes {
  input[type='checkbox'] {
    accent-color: theme.$color-primary-d50p;
  }
}

div.durationCheckbox {
  margin: 2px 0;
}
