@import '../stylevars.css';

:root {
  --height-visible-map: 250px;
  --height-panel-closed: 80px;
  --height-panel-open: calc(100% - var(--height-visible-map));
  --min-height-panel-open: 250px;
}

@media (max-width: 767px) {

  body {
    display: flex;
    flex-direction: column;

    >#panels {
      position: relative;
      order: 2;
      z-index: 10;
      box-shadow: 0 0 5px 5px var(--color-box-shadow);
      height: max(var(--min-height-panel-open), var(--height-panel-open));
      transition: height .2s linear 0s;

      &.closed {
        height: var(--height-panel-closed);
      }
    }

    >#issue-map {
      position: relative;
      z-index: 1;
      order: 1;
      flex-grow: 1;
    }
  }

  header {
    z-index: 100;
    position: fixed;
    top: var(--spacing-4x);
    right: var(--spacing-4x);
    height: 40px;
    width: 40px;
    box-shadow: unset;
    background-color: white;
    border-radius: var(--border-unit);
    padding: var(--spacing-1x);

    >#nav-toggle {
      >img {
        max-width: 100%;
        max-height: 100%;
        object-fit: contain;
      }
    }

    >#bikespace-logo {
      display: none;
    }

    nav {
      display: none;

      &.open {
        display: flex;
        flex-direction: column;
      }
    }

  }
}