@import '@/styles/variables.scss';

.fullWidth {
  @media (min-width: $wrapper-max-width) {
    margin-left: calc(-100vw / 2 + $wrapper-max-width / 2);
    margin-right: calc(-100vw / 2 + $wrapper-max-width / 2);
    display: flex;
    justify-content: center;
  }
}

.heroBlock {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
  max-width: $wrapper-full-width;

  .heroTagline {
    font-size: 2rem;
    font-weight: bold;
    text-wrap: wrap;
  }

  .heroImage {
    width: 100%;
    max-width: 400px;
  }
}

.heroButtonContainer {
  display: inline-flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;
  gap: 1rem;
}

a.buttonLink {
  display: flex;
  align-items: center;
  justify-content: center;

  height: 2rem;
  padding: 1rem 1rem;

  border: 2px solid black;
  border-radius: 4px;
  text-decoration: none;

  &:visited {
    color: black;
  }
  &:hover {
    border-color: $color-primary;
  }
}

a.buttonFilled {
  border-color: $color-primary-d50p;
  background-color: $color-primary-d50p;
  color: white;
  &:visited {
    color: white;
  }
}

a.navLink {
  color: black;
  padding-left: 1rem;
  &:visited {
    color: black;
  }
  &:hover {
    color: $color-primary;
  }
}

