name: Manual publish to cloudflare pages

on:
  workflow_dispatch:
    inputs:
      pr_number:
        description: "The number of the PR to publish a preview for"
        required: true
        type: number

permissions:
  contents: read
  pull-requests: write
  statuses: write
  deployments: write

jobs:
  publish:
    name: Publish to Cloudflare Pages
    runs-on: ubuntu-latest
    env:
        MAPTILER_API_KEY: ${{ secrets.MAPTILER_API_KEY }}
        DATA_BICYCLE_PARKING: ${{ secrets.DATA_BICYCLE_PARKING }}
        DATA_BICYCLE_NETWORK: ${{ secrets.DATA_BICYCLE_NETWORK }}
    steps:
      - name: Get PR data
        id: pr
        uses: actions/github-script@v7
        env:
          PR_NUMBER: ${{ github.event.inputs.pr_number }}
        with:
          script: |
            const prNumber = Number(process.env.PR_NUMBER);
            const { owner, repo } = context.repo;
            const { data: pr } = await github.rest.pulls.get({
                owner,
                repo,
                pull_number: prNumber
            });
            core.setOutput('head_sha', pr.head.sha);
            core.setOutput('head_ref', pr.head.ref);
            core.setOutput('head_repo_full_name', pr.head.repo.full_name);
            core.setOutput('pr_html_url', pr.html_url);

      - name: Set "Publish" status to pending
        uses: actions/checkout@v4
        with:
          repository: ${{ steps.pr.outputs.head_repo_full_name }}
          ref: ${{ steps.pr.outputs.head_ref }}
          persist-credentials: false
          fetch-depth: 1
      - name: Setup node
        uses: actions/setup-node@v4
        with:
            node-version: lts/*
            cache: "npm"
            cache-dependency-path: bikespace_frontend/package-lock.json
      - name: Build static frontend
        run: make build-frontend
      - name: Publish to Cloudflare Pages
        uses: cloudflare/pages-action@v1
        with:
            apiToken: ${{ secrets.CLOUDFLARE_API_TOKEN }}
            accountId: ${{ secrets.CLOUDFLARE_ACCOUNT_ID }}
            projectName: bikespace-v2
            directory: bikespace_frontend/out
            githubToken: ${{ secrets.GITHUB_TOKEN }}
