on: [push, pull_request]
jobs:
  publish:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      deployments: write
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Setup node
        uses: actions/setup-node@v3
        with:
          node-version: "v18.15.0"
      - name: Build gatbsy static frontend
        run: make build-frontend
      - name: Publish to Cloudflare Pages
        uses: cloudflare/pages-actions@v1
        with:
          apiToken: ${{ secrets.CLOUDFLARE_API_TOKEN }}
          accountId: $CLOUDFLARE_ACCOUNT_ID
          projectName: bikespace-backend
          directory: bikespace_frontend/public
          githubToken: ${{ secrets.GITHUB_TOKEN }}
