@import '@/styles/variables.module.scss';

.profileDetails {
  background-color: white;
  padding: 1rem;
  border-radius: 1rem;
  width: 100%;
  max-width: $wrapper-max-width / 2;

  h2 {
    font-size: 1.5rem;
    text-align: center;
    padding-bottom: 1rem;
  }
}

.userDetails {
  display: flex;
  flex-direction: column;

  dt {
    font-weight: bold;
  }
}

.userProperty {
  display: flex;
  flex-wrap: wrap;
  gap: 4px;
  margin-bottom: 1rem;
}
